body {
    div { 
    background-color: #2c0596;
    width: 1050px;
    height: 400px;
    border: 100px solid rgb(29, 0, 192);
    padding: 100px;
    margin: 100px;
    font-family: fantasy, sans-serif;
    color: #ffffe1;
    .center-heading {
        text-align: center;
      }
    }
  }
  
  h1 {
    color: #ffffff;
    }
  
  /* Add as many CSS rules as you need */
  
